@import "helpers/reset.scss";
@import "../font/fonts.scss";
@import "helpers/variable.scss";
@import "helpers/mixins.scss";

@import "section-header/section-header";
@import "section-main/section-main__meet";
@import "section-main/section-main__pojects";
@import "section-main/section-main__graphics";
@import "section-main/section-main__description";
@import "section-footer/section-footer";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: 768px) and (max-width: 1200px) {
    max-width: 710px;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    max-width: 351px;
  }
}