*{
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}

.Head {
width: 1283px;
height: 189px;
margin-top: 63px;
margin-left: 98px;
}

.Logo{
Width: 334px;
height: 79px;
color: black;
}

.Logo_text{
font-family: sans-serif;
font-size: 80px;
font-weight: 400;
line-height: 93.75px;
text-align: center;
color: black;
}
.logo_text_link{
    color: black;
}

.Logo_text_color{
color: aqua;
}

.Header_menu{
display: flex;
justify-content: center;
align-items: center;
margin-top: 36px;
width: 1280px;
height: 69px;
background-color: #35444F;
}

.Header_menu_item{
height: 70px;
list-style-type:none;
font-family: sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: left;
color : #FFFFFF;
border:1px solid #bbb;
padding:20px 20px 20px 20px;
}

.Header_menu_item:hover{
height: 68px;
background-color: #222F3A;
padding-top: 20px ;
}

.Content_section{
width: 1282px;
margin-top: 40px;
display: flex;
justify-content:space-between;
margin-left: 98px;
}

.Content_menu {
border: solid 1px black; 
width: 344px;
height: 399px;
}

.Content_menu_item {
display: flex;
font-family: sans-serif;
font-size: 27px;
line-height: 27px;
color: #485863;
width: 342px;
height: 81px;
padding-left: 30px;
align-items:center;
}

.Content_menu_item:hover{
margin-left: 50px;
color: black;
}

.Content_div
{width: 885px;
height: 832px;}


.Content_image{
display: flex;
justify-content:center;
align-items:center;
width: 885px;
height: 529px;
border: solid 1px black;
}

.Content_image:hover{
transform: scale(1.1);
transition: 1s;
}

.Content_text{
margin-top: 40px;
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.Content_text_1{
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.Footer {
display: flex;
justify-content:space-around;
width: 1280px;
height: 69px;
margin-top: 40px;
margin-left: 98px;
background-color: #63696E7A;
}

.Footer_menu{
display: flex;
justify-content:space-between;
width: 875px;
height: 28px;
margin-top: 20px;
margin-left: 40px;
}

.Footer_menu_item{
list-style-type:none;
font-family: sans-serif;
font-size: 28px;
font-weight: 400;
line-height: 28px;
text-align: left;
}

.Footer_menu_item:hover{
color:#3181A6;
text-decoration: underline;
text-underline-offset: 15px;
}

.Footer_logo_text{
width: 190px;
height: 69px;
font-family: sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 24px;
text-align: left;
align-items:center;
margin-top: 20px;
}