.wrapper{
  display: flex;
  flex-direction: column;
}

.one{
  width: 100%;
  height: 500px;
  background-color: white;
}

.two{
  width: 100px;
  background-color: white;
}

.three{
  width: 100px;
  background-color: white;
}