@mixin item-btn ($color){
  background-color: $color;
  width: 100%;
  border-radius: 4px;
  padding-block: 8px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin grid-wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 24px 0 120px;
  border-top: 1px solid #A8A8A8;
}