a {
    text-decoration: none;
    color: inherit;
}

// a,
// button,
// input,
// textarea,
// svg * {
//     transition-duration: var(--transition-duration);
// }
ul,
ol {
    list-style: none;
}

button,
a {
    outline: none;
    border: none;
}