@import './helpers/normalize.css';
@import './helpers/_variables.scss';
@import './helpers/_mixins.scss';
@import '_globals.scss';
@import './helpers/_fonts.scss';

@import './components/_section-title-border.scss';
@import './components/_primary-button.scss';
@import './components/_social-icons.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    font-family: $fontGilroy;
    color: $color-dark;

    background-color: $color-gray;
}

html {
    scroll-behavior: smooth;
}

@import './sections/_header.scss';

@import './sections/_hero.scss';
@import './sections/_selected-work.scss';
@import './sections/_our-team';

@import './sections/_logos.scss';
@import './sections/_service-section.scss';
@import './sections/_my-clients.scss';
@import './sections/_contact.scss';

@import './sections/_footer.scss';