header {
  background: linear-gradient(252.94deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
  font-family: 'Manrope';
}

.head-fixed {
  position: fixed;
  z-index: 5;
  width: 100%;
  transition: 0.3s ease-in-out;
  padding-block: 18px;
}

.head {
  &-top {
    position: relative;
    @include flexbox(space-between, null);
    z-index: 3;
  }

  &-nav {
    @include flexbox(null, center);
    opacity: 1;
    pointer-events: all;
  }

  &-menu {
    @include flexbox(null, null);
    display: flex;
    column-gap: 20px;
  }

  &-list {
    & a {
      @include flexbox(null, center);
      column-gap: 12px;
      border: 1px solid white;
      border-radius: 20px;
      padding: 10px 16px;
      text-decoration: none;
      color: white;
    }
  }

  &-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;

    &::before {
      content: '';
      vertical-align: middle;
      background-size: contain;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
    }

    &--portfolio::before {
      background-image: url("../images/fi-rr-magic-wand.svg");
    }

    &--resume::before {
      background-image: url("../images/fi-rr-document.svg");
    }

    &--testimonials::before {
      background-image: url("../images/fi-rr-flower-tulip.svg");
    }

    &--contact::before {
      background-image: url("../images/fi-rr-comment-heart.svg");
    }
  }

  &-burger {
    position: absolute;
    right: 0;
    opacity: 0;
    pointer-events: none;
    @include flexbox(center, end, column);
    row-gap: 2px;
    width: 56px;
    height: 56px;
    border: 2px solid white;
    border-radius: 20px;

    &__item {
      margin-right: 20px;
      height: 1.33px;
      background-color: white;

      &--first {
        width: 16px;
      }

      &--second {
        width: 11px;
      }
    }
  }

  &-title {
    @include textStyleBasic;
    color: #FFFFFF;
    padding-top: 491px;
    padding-bottom: 119px;
  }
}


@media (min-width: 768px) and (max-width: 1200px) {
  .head {
    &-fixed {
      position: static;
    }

    &-nav {
      opacity: 0;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-menu {
      flex-direction: column;
      gap: 20px;
      margin-top: 75px;
    }

    &-title {
      padding-top: 0;
    }

    &-burger {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .head {
    &-fixed {
      position: static;
    }

    &-nav {
      opacity: 0;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-menu {
      flex-direction: column;
      gap: 20px;
      margin-top: 75px;
    }

    &-title {
      padding-top: 89px;
      @include textStyleBasic(48px, 57.6px);
    }

    &-burger {
      opacity: 1;
      pointer-events: all;
    }
  }
}