.main-graphics {
  background-color: $font-primary-color;
  padding: 82px 0 138px;

  &__wrapper {
    @include grid(2);
    gap: 26px;
    padding-top: 26px;
  }

  &__title {
    margin-bottom: 38px;
    @include textStyleBasic;
    color: #FFFFFF;
  }

  &__item {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%);
    }

    &--star:after {
      content: url("../images/graphics-Star(L).svg");
    }

    &--butterfly:after {
      content: url("../images/graphics-Butterfly(L).svg");
    }

    &--asterisk:after {
      content: url("../images/graphics-Asterisk(L).svg");
    }
  }

  &__img {
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 1200px) {
  .main-graphics {
    padding: 58px 0 129px;

    &__wrapper {
      gap: 34px;
    }

    &__item {
      &--star:after {
        content: url("../images/graphics-Star(M).svg");
      }

      &--butterfly:after {
        content: url("../images/graphics-Butterfly(M).svg");
      }

      &--asterisk:after {
        content: url("../images/graphics-Asterisk(M).svg");
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .main-graphics {
    padding: 58px 0 93px;

    &__title {
      margin-bottom: 28px;
      @include textStyleBasic(36px, 43.2px);
    }

    &__wrapper {
      @include grid(1);
      padding-top: 20px;
      gap: 32px;
    }

    &__item {
      &--star:after {
        content: url("../images/graphics-Star(S).svg");
      }

      &--butterfly:after {
        content: url("../images/graphics-Butterfly(S).svg");
      }

      &--asterisk:after {
        content: url("../images/graphics-Asterisk(S).svg");
      }
    }
  }
}