.main-description {
  background-image: url("../images/description-font-L.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    padding: 303px 0 323px;
    color: #FFFFFF;
    @include textStyleSecondary;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .main-description {
    background-image: url("../images/description-font-M.png");

    &__title {
      padding: 274px 0 294px;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .main-description {
    background-image: url("../images/description-font-S.png");

    &__title {
      padding: 180px 0 173px;
      @include textStyleSecondary(24px, 28.8px);
    }
  }
}