.main-meet {
  z-index: 2;
  position: relative;
  padding-block: 158px;
  background-color: $font-primary-color;
  color: white;

  &::after {
    position: absolute;
    content: url("../images/meet-icon(L).svg");
    transform: translateY(-50%);
    z-index: -3;
    top: 50%;
    right: 0;
  }

  &__title {
    @include textStyleSecondary;
    color: #FAEB49;
  }

  &__subtitle {
    font-family: 'Manrope';
    max-width: 524px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
  }

  &__list {
    margin-top: 40px;
    @include flexbox(null, null);
    column-gap: 96px;

    & li {
      font-family: 'Manrope';
      font-size: 16px;
      font-weight: 700;
      line-height: 21.86px;
    }

    & span {
      font-family: 'DynaPuff';
      font-size: 48px;
      line-height: 57.6px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .main-meet {
    &::after {
      content: url("../images/meet-icon(M).svg");
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .main-meet {
    padding-block: 73px;

    &::after {
      content: url("../images/meet-icon(S).svg");
    }

    &__title {
      @include textStyleSecondary(36px, 43.2px, 700);
    }

    &__list {
      margin-top: 40px;
      column-gap: 14px;

      & li {
        width: 92px;
      }

      & span {
        font-size: 36px;
        line-height: 43.2px;
      }
    }
  }
}