.main-projects {
  background-color: $font-secondary-color;
  padding-block: 86px;

  &__wrapper {
    @include grid(3);
    gap: 40px;
    padding-top: 63px;
  }

  &__item {
    position: relative;
    background-color: $projects-item-color;
    padding: 20px;
    border-radius: 24px;

    & a {
      text-decoration: none;
    }

    &:not(:nth-child(1)):after {
      position: absolute;
      content: url("../images/item-arrow.png");
      top: 34px;
      right: 34px;
      pointer-events: none;
    }
  }

  &__img {
    width: 100%;
  }

  &__title {
    margin-top: 20px;
    font-family: 'DynaPuff';
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: #565656;

    &--basic {
      font-family: 'DynaPuff';
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
    }
  }

  &__subtitle {
    margin-top: 22px;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    color: #000000;

    &--basic {
      max-width: 580px;
      font-weight: 700;
    }
  }
}


@media (min-width: 768px) and (max-width: 1200px) {
  .main-projects {
    padding: 52px 0 122px;

    &__wrapper {
      @include grid(2);
      padding-top: 63px;
    }

    .main-projects__item {
      &:nth-child(3) {
        display: none;
      }

      &:after {
        position: absolute;
        content: url("../images/item-arrow.png");
        top: 34px;
        right: 34px;
        pointer-events: none;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .main-projects {
    padding: 52px 0 85px;

    &__item {
      &--basic {
        padding: 16px;
      }
    }

    &__wrapper {
      @include grid(1);
      padding-top: 63px;

      .main-projects__item {
        padding: 12px;

        &:nth-child(1),
        &:nth-child(3) {
          display: none;
        }
      }
    }

    &__title {
      font-size: 24px;
      line-height: 28.8px;

      &--basic {
        font-size: 32px;
        line-height: 38.4px;
      }
    }
  }
}