.main {
  margin-top: 104px;
  background-color: $font-color;

  .main-content {
    &__title {
      padding: 32px 0 23px;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
    }

    .main-wrapper {
      @include grid-wrapper;

      &__item {
        background-color: white;
        border: 1px solid #A8A8A8;
        padding: 32px;
        position: relative;
      }

      &__img {
        display: block;
        margin-inline: auto;
        width: 178px;
        height: 280px;
        margin-bottom: 16px;
      }

      &__title {
        display: block;
        border-bottom: 2px solid #A8A8A8;
        text-decoration: none;

        &-inside {
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
          color: black;
          width: 240px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &__subtitle {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #8E8E8E;
      }

      &__price {
        display: block;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: #E90000;
        margin: 8px 0 16px;

        &-crossed {
          margin-left: 24px;
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
          color: #8E8E8E;
          text-decoration: line-through;
        }
      }

      &__button-primary {
        @include item-btn($btn-primary-clr);

        &:hover {
          background-color: #744978;
          transition: 0.5s;
        }
      }

      &__button-secondary {
        @include item-btn($btn-secondary-clr);

        &:hover {
          background-color: #6DB236;
          transition: 0.5s;
        }
      }

      &__badge {
        position: absolute;
        top: 32px;
        display: flex;
        column-gap: 4px;

        p {
          padding: 4px 8px;
          border-radius: 4px;
          color: white;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        &-hit {
          background-color: #4200FF;
        }

        &-discount {
          background-color: #EA33C0;
        }

        &-new {
          background-color: #AF39E7;
        }
      }
    }
  }


  .chat-container {
    position: fixed;
    top: 696px;
    right: 90px;

    &__origin {
      position: absolute;
      border: none;
      border-radius: 50%;
      overflow: hidden;
      display: block;
      z-index: 1;

      &:hover {
        display: none;
      }
    }

    &__hover {
      position: absolute;
      border: none;
      border-radius: 50%;
      top: 0;
      left: 0;
    }
  }
}