.footer {
  background-color: #4C394E;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding-block: 32px;
    font-weight: 400;
    line-height: 24px;
    color: white;
  }
}