.footer {
  background-color: $font-primary-color;
  color: #FFFFFF;

  & a {
    color: #FFFFFF;
  }

  &-top {
    display: flex;
    justify-content: center;

    &__link {
      @include flexbox(center, center);
      width: 100%;
      margin-top: 78px;
      padding-block: 42px;
      text-decoration: none;
      border: 1px solid #F2F2F2;
      border-radius: 139px;
    }

    &__dawn {
      margin-right: 45px;
    }


    &__title {
      font-family: DynaPuff;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
    }

    &__subtitle {
      position: relative;
      display: inline-block;
      margin-top: 17px;
      text-decoration: none;
      font-family: Manrope;
      font-size: 24px;
      font-weight: 500;
      line-height: 32.78px;

      &:after {
        position: absolute;
        transform: translateY(-40%);
        content: url("../images/footer-arrow(L,M).svg");
        right: -100px;
        top: 50%;
      }
    }
  }


  &-bottom {
    padding-top: 163px;

    &__icons {
      @include flexbox(center, center);
      column-gap: 34px;
    }

    &__copyright {
      margin: 21px 0 30px;
      text-align: center;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      line-height: 21.86px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-top {
    &__link {
      margin-top: 96px;
      padding-block: 21px;
    }
  }

  .footer-bottom {
    padding-top: 60px;

    &__copyright {
      margin: 21px 0 35px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer-top {
    &__link {
      margin-top: 53px;
      padding-block: 11px;
    }

    &__dawn {
      margin-right: 20px;
      width: 52px;
      height: 51px;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__subtitle {
      margin-top: 4px;
      font-size: 15px;
      font-weight: 500;
      line-height: 20.49px;

      &:after {
        content: url("../images/footer-arrow(S).png");
        right: -50px;
      }
    }
  }

  .footer-bottom {
    padding-top: 113px;

    &__copyright {
      margin: 21px 0 40px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 21.86px;
    }
  }
}