@mixin textStyleBasic($size:80px, $height:96px,$weight:700){
  font-family: 'DynaPuff';
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin textStyleSecondary($size:48px, $height:57.6px,$weight:700){
  font-family: 'DynaPuff';
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin flexbox($horizontal:space-between,$vertical:center, $direction:row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $horizontal;
  align-items:  $vertical;
}

@mixin grid($qtyColumn){
  display: grid;
  grid-template-columns: repeat($qtyColumn, 1fr);
}