* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}
:root {
  --prime-color: #0f8277;
  --secondaty-color: #dbf3ed;
}
body {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
header {
  height: 39px;
  margin: 30px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 112px;
}
.header-left,
.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-left {
  gap: 44px;
}
.header-right {
  gap: 104px;
}
.explore-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  padding: 10px 12px;
  background-color: var(--prime-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.explore-selection p {
  font-size: 16px;
  font-weight: 700;
  margin-right: 16px;
  position: relative;
  display: block;
}
.explore-selection::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.16667L4.33333 6.5L9 1.5' stroke='%23F6FDFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  height: 14px;
  width: 10px;
}
.down-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 384px;
  background-color: #fff;
  padding: 16px 12px 33px 12px;
  box-shadow: 0px 0px 4px 2px #00000040;
  top: 44px;
  left: 0;
  visibility: hidden;
}
.explore-selection:hover .down-menu {
  visibility: visible;
}
.down-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.down-menu-page {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
  width: 100%;
}
.down-menu-page li a,
.down-menu-middle-list li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.down-menu-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.down-menu-middle p {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.down-menu-middle-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.header-search {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-search input {
  max-width: 663px;
  width: 330px;
  padding: 8.5px 12px;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
}
.svg-search {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: var(--prime-color);
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo {
  text-decoration: none;
  color: #000;
  text-wrap: nowrap;
  font-size: 32px;
  font-weight: 700;
}
.header-right-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.header-right-menu li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.header-right-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login-btn {
  color: var(--prime-color);
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  text-decoration: none;
}
.signup-btn {
  background-color: var(--prime-color);
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}
.learn {
  background-color: var(--secondaty-color);
  height: 602px;
  margin: 0 36px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}
.learn-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  margin: 170px 94px 184px 110px;
  max-width: 512px;
}
.learn-info h1 {
  font-size: 56px;
  font-weight: 700;
}
.learn-info p {
  font-size: 22px;
  font-weight: 600;
}

.learn-img {
  width: 526px;
  height: 533px;
  margin: 39px 54px 30px 0;
}
.learn-btn {
  display: flex;
  gap: 24px;
  list-style: none;
}
.start-learning {
  padding: 10px 12px;
  background-color: var(--prime-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
}
.learn-more {
  padding: 10px 12px;
  background-color: transparent;
  color: var(--prime-color);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid var(--prime-color);
}

.academic-training-variants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 24px;
}
.courses-variants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 24px;
}

.academic-training-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.hint {
  color: var(--prime-color);
  font-size: 20px;
  font-weight: 700;
}
.center {
  text-align: center;
}

.desc {
  font-size: 20px;
  font-weight: 500;
}

.academic-training,
.courses-and-specializations,
.topics-category {
  margin: 0 36px;
  margin-bottom: 80px;
}
.card {
  display: flex;
  flex-direction: column;
  height: 480px;
  border-radius: 8px;
  border: 1px solid #dadada;
}
.card-link {
  text-decoration: none;
  color: #000;
}
.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-school {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-school h3 {
  font-size: 24px;
  font-weight: 700;
}
.card-info {
  margin: 16px 24px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-school-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 20px;
}
.card-info-bottom {
  display: flex;
  gap: 12px;
}
.text-green {
  color: var(--prime-color);
  font-size: 16px;
  font-weight: 500;
}
.category-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  margin-top: 40px;
}
.sub-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.category-title {
  font-size: 24px;
  font-weight: 700;
}
.cooperate {
  height: 382px;
  background-color: #dbf3ed;
  padding: 80px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.cooperate h2 {
  width: 871px;
  text-align: center;
}
.tm-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35.85px;
}

#search {
  fill: aquamarine;
}
.more-courses {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 24px;
}

.ideal-solution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  margin: 0 36px;
  margin-bottom: 70px;
}
.info-solution {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  max-width: 636px;
}
.info-solution a {
  text-decoration: none;
  background-color: var(--prime-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 4px;
}
.info-solution p {
  font-size: 22px;
  font-weight: 600;
  padding-right: 68px;
}
.solution-company-icon {
  display: grid;
  width: 588px;
  height: 412px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2px;
  column-gap: 2px;
  background-color: #bababa;
  align-content: center;
}
.solution-company-icon div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plans-career-goal {
  height: 966px;
  background-color: #dbf3ed;
  padding: 80px 36px 100px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.plans-cards {
  display: grid;
  height: 698px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
.cards-item {
  padding: 56px;
  height: 698px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid var(--prime-color);
}
.get-started {
  padding: 10px 12px;
  background-color: var(--prime-color);
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.cards-item-block1 {
  border-bottom: 2px solid var(--prime-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 47px;
  margin-bottom: 47px;
  height: 331px;
}
.plan-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 27px;
}
.plan-info-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  }

.plan-info-subtitle {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  }

.cost {
  font-size: 40px;
  font-weight: 700;
  }
  
.cost span {
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
}
.plan-possibilities {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  width: 100%;
}

.possibilities,
.possibilities-middle {
  position: relative;
  width: 274px;
  padding-left: 32px;
  padding-right: 8px;
  margin-bottom: 16px;
  width: 100%;
}
.possibilities::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: var(--prime-color);
}
.possibilities::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.16667L4.33333 6.5L9 1.5' stroke='%23F6FDFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  display: block;
  position: absolute;
  top: -3px;
  left: 3px;
}
.midlle {
  background-color: var(--prime-color);
  color: #fff;
}
.middle-block1 {
  border-bottom: 2px solid #fff;
}
.get-started-middle {
  padding: 10px 12px;
  background-color: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: var(--prime-color);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.possibilities-middle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #fff;
}

.possibilities-middle::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.16667L4.33333 6.5L9 1.5' stroke='%230F8277' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  display: block;
  position: absolute;
  top: -3px;
  left: 3px;
}

.photo-students {
  padding: 80px 36px 76.5px 36px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}
.photo-students h2 {
  text-align: center;
}
.photo-students-item {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
  gap: 23.5px 24px;
  
}

.students-9 {
  grid-area: 1/2/3/4;
  width: 100%;
}
.contacts {
  height: 724px;
  background-image: url("../img/bg_contacts.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 65px 402px 47px 402px;
}
.contacts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 614px;
  width: 565px;
  background-color: var(--secondaty-color);
  border-radius: 24px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.form-contact p,
.form-contact h2 {
  text-align: center;
  width: 100%;
}
.contact-name,
.contact-email,
.contact-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-contact label {
  font-size: 22px;
  font-weight: 600;
}
.contact-name input,
.contact-email input {
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--prime-color);
  padding: 12px;
}
.contact-message textarea {
  border-radius: 4px;
  border: 1px solid var(--prime-color);
  padding: 12px;
  height: 104px;
  text-align: start;
  position: relative;
  overflow-y: scroll;
  resize: none;
  font-size: 16px;
}
.contact-message textarea::placeholder {
  position: absolute;
  top: 10px; 
  left: 10px;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 500;

}
.contact-name input::placeholder,
.contact-email input::placeholder {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 500;
}
.btn-send-contact {
  padding: 10px 77px;
  color: #f6fdff;
  background-color: var(--prime-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

footer {
  height: 239px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 64px 36px;
}

.footer-left,
.footer-right {
  height: 111px;
  width: 306px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-left {
  align-items: flex-start;
}
.footer-right {
  align-items: flex-end;
}

.footer-logo {
  font-size: 32px;
  font-weight: 700;
}
.footer-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.display-none {
  display: none;
}
