.contact {
    margin: 0 auto;
    padding: 100px 69px;

    width: $widthDesktop;
    display: flex;
    justify-content: center;
    gap: 40px;

    &__title {
        width: 50%;

        @include typography(155px, 300, 178.71px, left, $color-secondary-dark);
        text-transform: uppercase;
    }

    &__wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        &__headline {
            @include typography(64px, 700, 75px);
            text-transform: uppercase;
        }

        &__text {
            @include typography(34px, 500, 39.84px);
        }
    }
}

@media screen and (max-width: $maxWidthTablet) {
    .contact {
        padding: 30px 30px 50px;

        width: $widthTablet;
        flex-direction: column;
        align-items: center;

        &__title {
            width: auto;
        }

        &__wrapper {
            width: auto;

            align-items: center;

            &__headline {
                text-align: center;
            }

            &__text {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .contact {
        padding: 30px 20px 50px;

        width: $widthMobile;
        flex-direction: column;
        align-items: center;

        &__title {
            @include typography(80px, 300, 92.24px, center, $color-secondary-dark);
        }

        &__wrapper {
            align-items: center;

            &__headline {
                @include typography(50px, 700, 58.59px, center);
            }

            &__text {
                @include typography(30px, 500, 35.16px, center);
            }

            & .primary-button {
                width: 100%;
            }
        }
    }
}