.footer {
    margin: 0 auto;
    padding: 25px 69px;

    width: $widthDesktop;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: none;

    &__text {
        @include typography(18px, 400, 21.09px, left, $color-secondary-dark);

        &__span {
            @include typography(18px, 600, 21.09px, left, $color-secondary-dark);
        }
    }
}

@media screen and (max-width: $maxWidthTablet) {
    .footer {
        padding: 45px 30px;

        width: $widthTablet;
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .footer {
        padding: 24px 30px;

        width: $widthMobile;
        flex-direction: column;
        row-gap: 20px;
    }
}