.container-header {
    padding: 40px 70px;
    margin-inline: auto;

    width: $widthDesktop;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;

    &__name {
        margin-left: 10px;

        @include typography(35px, 800, 42.88px, center, $color-black);
        letter-spacing: -0.02em;

        & span {
            @include typography(35px, 500, 41.02px, center, $color-black);
            text-transform: uppercase;
        }
    }

    &>span {
        @include typography(25px, 300, 28.82px, center, $color-black);
    }
}

.menu-button {
    @include typography(25px, 500, 29.3px);
    text-transform: uppercase;
}

@media screen and (max-width: $maxWidthTablet) {
    .container-header {
        padding: 31.5px 40px;

        width: $widthTablet;
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .container-header {
        padding: 20px;

        width: $widthMobile;
    }

    .logo {
        &--hidden {
            display: none;
        }
    }
}