.hero {
    margin: 0 auto;

    width: $widthDesktop;

    &__text {
        margin: 30px 0;

        @include typography(150px, 800, 175.78px, center);
        text-transform: uppercase;
    }

    &__title {
        display: block;

        @include typography(150px, 300, 172.95px, center);
        text-transform: capitalize;
    }

    &__arrow {
        margin-inline: auto;
        margin-bottom: 40px;

        display: block;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }
}

.container-intro {
    padding: 93px 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, $color-gray 75%, $color-dark 25%);

    &__text {
        padding: 0 225px 0 70px;

        @include typography(62px, 300, 71.49px);

        & span {
            @include typography(62px, 800, 75.95px);
        }
    }

    &__about {
        padding: 60px 70px 60px 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        row-gap: 30px;
    }

    &__title {
        @include typography(32px, 500, 32px, right, $color-white);
        text-transform: uppercase;
    }

    &__social {
        display: flex;
        column-gap: 20px;
    }
}

@media screen and (max-width: $maxWidthTablet) {
    .hero {
        width: $widthTablet;

        &__text {
            @include typography(120px, 600, 140.63px, center);
        }

        &__title {
            @include typography(120px, 300, 138.36px, center);
            text-transform: capitalize;
        }
    }

    .container-intro {
        padding: 0;
    }

    .intro {
        &__text {
            padding: 30px;

            @include typography(52px, 300, 59.96px, center);

            & span {
                @include typography(52px, 800, 63.7px, center);
            }
        }

        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-image: none;

        &__about {
            background-color: $color-dark;
        }
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .hero {
        width: $widthMobile;

        &__text {
            @include typography(57px, 600, 66.8px, center);
        }

        &__title {
            @include typography(57px, 300, 65.72px, center);
        }
    }

    .intro {
        &__text {
            padding: 30px;

            @include typography(30px, 300, 34.59px, center);

            & span {
                @include typography(30px, 800, 36.75px, center);
            }
        }
    }
}