.section-logos {
    margin: 0 auto;
    padding: 70px 0;

    width: $widthDesktop;
}

.list-logos {
    padding-inline: 79px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;

    &__item {
        padding: 0 40px;

        height: 70px;
        display: grid;
        place-items: center;

        background-color: $color-white;
        border-radius: $border-radius;
    }

}

@media screen and (max-width: $maxWidthTablet) {
    .section-logos {
        padding: 40px 0;

        width: $widthTablet;
    }

    .list-logos {
        padding-inline: 42.87px;

        gap: 20px;
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .section-logos {
        padding: 30px 0;

        width: $widthMobile;
    }

    .list-logos {
        padding-inline: 20px;
    }
}