.my-clients {
    margin: 0 auto;
    padding-inline: 70px;

    width: $widthDesktop;

    &__headline {
        margin: 50px 0;
    }
}

.clients {
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &__item {
        padding: 30px 49.75px 30px;

        display: flex;
        flex-direction: column;
        row-gap: 30px;
        border: 0.5px solid $color-black;

        &__headline {
            @include typography(40px, 800, 44px, left, $color-secondary-dark);
        }

        &__text {
            @include typography(20px, 400, 30px, left, $color-black, 'Inter');
        }

        &:nth-of-type(1) {
            border-top: none;
            border-left: none;
        }

        &:nth-of-type(2) {
            border-top: none;
        }

        &:nth-of-type(3) {
            border-top: none;
            border-right: none;
        }

        &:nth-of-type(4) {
            border-left: none;
            border-bottom: none;
        }

        &:nth-of-type(5) {
            border-bottom: none;
        }

        &:nth-of-type(6) {
            border-right: none;
            border-bottom: none;
        }
    }
}

.clients-info__wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.clients-info {
    &__img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: $border-radius;
    }

    &__name {
        margin-bottom: 10px;

        @include typography(20px, 600, 20px, left, $color-black, 'Inter');
    }

    &__job {
        @include typography(20px, 400, 20px, left, $color-black, 'Inter');
    }
}

@media screen and (max-width: $maxWidthTablet) {
    .my-clients {
        padding-inline: 30px;

        width: $widthTablet;

        &__headline {
            margin: 30px 0;
        }
    }

    .clients {
        margin-bottom: 30px;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

        &__item {
            padding: 40px 0;

            &:nth-of-type(n) {
                border: none;
                /* вимикаємо бордер встановлений раніше*/
                border-bottom: $border;
            }
        }
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .my-clients {
        padding-inline: 0;
        width: $widthMobile;
    }

    .clients {
        padding-inline: 30px;
    }
}