.our-team {
    margin: 0 auto;
    padding: 50px 70px;
    width: $widthDesktop;

    &__headline {
        margin-bottom: 50px;
    }

    & img {
        filter: grayscale(90%);
    }
}

.container-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 30px;
    column-gap: 40px;
}

.card {
    padding: 30px 0;

    &__name {
        margin-bottom: 5px;

        @include typography(30px, 800, 36.75px, left, $color-secondary-dark);
        text-transform: uppercase;
    }

    &__job {
        margin-bottom: 15px;

        @include typography(20px, 500, 23.44px, left, $color-secondary-dark);
    }

    &__image {
        margin-bottom: 15px;

        width: 415px;
        height: 507px;

        object-fit: cover;
    }

    &__join {
        grid-column: 3 / 5;
        /* Починається з 3-ї колонки та закінчується на 5-й (включно) */
        grid-row: 2 / 3;
        /* Займає лише 2-й рядок */

        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;

        &__title {
            @include typography(30px, 400, 35.16px, left, $color-secondary-dark);
            text-transform: uppercase;
        }

        &__text {
            @include typography(64px, 700, 75px, left, $color-secondary-dark);
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: $maxWidthTablet) {
    .our-team {
        padding: 30px 30px 50px;

        width: $widthTablet;

        &__headline {
            margin-bottom: 30px;
        }
    }

    .container-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .card {
        &__image {
            width: 446px;
        }

        &__join {
            grid-column: 1 / 3;
            grid-row: 4 / 5;
        }
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .our-team {
        padding: 30px 20px 50px;

        width: $widthMobile;

        text-align: center;
    }

    .container-card {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, auto);
        row-gap: 0;
    }

    .card {
        padding: 20px 0;

        &__name {
            @include typography(30px, 800, 36.75px, center, $color-secondary-dark);
        }

        &__job {
            @include typography(20px, 500, 23.44px, center, $color-secondary-dark);
        }

        &__image {
            width: 438px;
        }

        &__join {
            grid-column: 1 / 2;
            grid-row: 7 / 8;

            &__title {
                @include typography(30px, 400, 35.16px, center, $color-secondary-dark);
            }

            &__text {
                @include typography(40px, 700, 46.88px, center, $color-secondary-dark);
            }

            & .primary-button {
                width: 100%;
            }
        }

        & .list__social-icons {
            justify-content: center;
        }
    }
}