.selected-work {
    margin: 0 auto;
    padding: 70px 0 100px;
    width: $widthDesktop;

    &__title {
        margin-bottom: 50px;
    }
}

.works {
    margin-bottom: 70px;
    padding-inline: 70px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 40px;
    row-gap: 70px;

    & img {
        width: 567px;
        height: 567px;

        object-fit: cover;
    }

    &__list {
        display: flex;
        flex-direction: column;

        &__title {
            margin-bottom: 30px;

            @include typography(40px, 700, 44px, left, $color-black);
            text-transform: uppercase;
        }

        &__item {
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
        }

        &__text {
            margin-bottom: 30px;
            padding: 15px 30px;

            @include typography(18px, 500, 21.09px);

            background-color: $color-white;
            border-radius: $border-radius;
        }

        &__button {
            margin-top: auto;
            margin-left: auto;
        }
    }
}

.secondary-button {
    margin: 0 auto;
    padding: 15px 60px;

    display: block;

    @include typography(18px, 500, 21.09px, center);

    background-color: $color-white;
    border-radius: $border-radius;
}

@media screen and (max-width: $maxWidthTablet) {
    .selected-work {
        padding: 30px;

        width: $widthTablet;

        &__title {
            margin-bottom: 30px;
        }
    }

    .works {
        padding: 0;

        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 30px;

        & img {
            width: 931px;
            height: 931px;
        }

        &> :nth-child(1) {
            grid-row: 3;
        }

        &__list {
            &__item {
                column-gap: auto;
            }
        }
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .selected-work {
        padding: 30px 20px;

        width: $widthMobile;
    }

    .works {
        margin-bottom: 40px;

        row-gap: 20px;

        & img {
            width: 438px;
            height: 418px;
        }

        &__list {
            &__item {
                column-gap: auto;
            }
        }
    }

    .secondary-button {
        width: 100%;
    }
}