.service-section {
    margin: 0 auto;

    width: $widthDesktop;

    background-image: url('../images/what-i-do-bgd.jpg');
    background-repeat: no-repeat;
    background-size: $indentation-left 100%;
}

.service-wrapper {
    margin: 0 0 0 $indentation-left;
    padding: 70px 0 0 111px;
}

.service-headline {
    margin-bottom: 100px;

    @include typography(150px, 300, 172.95px);
    text-transform: uppercase;
}

.custom-counter {
    counter-reset: list-counter;
    /* Починаємо лічильник */
    list-style: none;
    /* Вимикаємо стандартні маркери списку */
}

.custom-counter .service__item {
    counter-increment: list-counter;
    /* Збільшуємо лічильник для кожного елемента */
}

.service {
    padding: 0 70px 70px 0;

    &__item {
        &__title {
            margin-bottom: 10px;

            @include typography(44px, 600, 48px, left, $color-black);
            text-transform: uppercase;
        }

        &__count {
            &::before {
                content: '0' counter(list-counter) ' ';
                /* Додаємо нуль і лічильник */
                @include typography(44px, 300, 48px, left, $color-black);
            }
        }

        &__text {
            margin-bottom: 40px;
            padding-bottom: 40px;

            @include typography(20px, 400, 28px, left, $color-black, 'Inter');

            border-bottom: $border;
        }
    }
}

.service__item:last-child .service__item__text:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom: none;
}

@media screen and (max-width: $maxWidthTablet) {
    .service-section {
        padding: 0;

        width: $widthTablet;

        background-size: 100% $widthTablet;
    }

    .service-wrapper {
        margin: 0;
        padding: calc($widthTablet + 40px) 30px 40px;
        /* відступ зверху в висоту зображення + відступ до зображення*/
    }

    .service-headline {
        margin-bottom: 40px;

        text-align: center;
    }

    .service {
        margin-right: 0;
        padding: 0;
    }
}

@media screen and (max-width: $maxWidthMobile) {
    .service-section {
        padding-top: $widthMobile;

        width: $widthMobile;

        background-size: 100% $widthMobile;
    }

    .service-wrapper {
        margin: 40px 0;
        padding: 0 30px;

    }

    .service-headline {
        margin-bottom: 40px;

        @include typography(80px, 300, 92.24px);
    }

    .service {
        &__item {
            &__title {
                @include typography(35px, 600, 41.02px, left, $color-black);
            }

            &__count {
                &::before {
                    @include typography(35px, 300, 41.02px, left, $color-black);
                }
            }

            &__text {
                margin-bottom: 30px;
                padding-bottom: 30px;
            }
        }
    }
}