@mixin typography($fontSize, $fontWeight, $lineHeight, $textAlign: left, $textColor: $color-dark, $fontFamily: $fontGilroy) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $textColor;
    text-align: $textAlign;
    font-family: $fontFamily;
}
@mixin flex($justifyContent: flex-start, $alignItems: stretch, $flexDirection: row) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}

// @mixin fluid-text($max: 48, $min: 16) {
//     font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
//   }
  
//   @mixin reset-link {
//     color: inherit;
  
//     &,
//     &:hover {
//       text-decoration: none;
//     }
//   }
  
//   @mixin reset-button {
//     padding: 0;
//     background-color: transparent;
//     border: none;
//   }
  
//   @mixin flex-center($isInline: false) {
//     @if $isInline {
//       display: inline-flex;
//     } @else  {
//       display: flex;
//     }
  
//     justify-content: center;
//     align-items: center;
//   }
  
//   @mixin abs-center {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     translate: -50% -50%;
//   }
  
//   @mixin square($size) {
//     width: $size;
//     aspect-ratio: 1;
//   }
  
//   @mixin visually-hidden {
//     position: absolute !important;
//     width: 1px !important;
//     height: 1px !important;
//     margin: -1px !important;
//     border: 0 !important;
//     padding: 0 !important;
//     white-space: nowrap !important;
//     clip-path: inset(100%) !important;
//     clip: rect(0 0 0 0) !important;
//     overflow: hidden !important;
//   }
