$color-dark: #252525;
$color-secondary-dark: #333333;
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #F5F3EA;

$border: 1px solid $color-dark;
$border-radius: 50px;

$indentation-left: calc(40px + 50%);

$fontGilroy: 'Gilroy', sans-serif;

$maxWidthMobile: 479px;
$maxWidthTablet: 992px;

$widthMobile: 478px;
$widthTablet: 991px;
$widthDesktop: 1920px;

// $paddingInlineTablet: 30px;
// $paddingInlineDesktop: 69px;