.primary-button {
    padding-inline: 30px;

    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    @include typography(18px, 500, 21.09px, left, $color-white);

    background-color: $color-dark;
    border-radius: $border-radius;

    &::after {
        content: '';
        margin: 20px 0;

        width: 21.41px;
        height: 13.33px;
        
        background-image: url('../images/Arrow.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}