.section-border {
    border-top: 1px solid $color-dark;
    border-bottom: 1px solid $color-dark;
}
.section-title {
    @include typography(212px, 300, 244.44px, center);
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
@media screen and (max-width: $maxWidthTablet) {
    .section-title {
        @include typography(150px, 300, 172.95px, center);
    }
}
@media screen and (max-width: $maxWidthMobile) {
    .section-title {
        @include typography(80px, 300, 92.24px, center);
    }
}