.container-body {
    width: 1440px;
    margin: 0 auto;
}
.container-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    border-bottom: 1px solid #EBE8F4;
}
.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: left;
    color: #22202E;
}
.container-menu {
    display: flex;
    justify-content: space-between;
    column-gap: 44px;
    margin-left: 149px;
}
.text-menu {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #726E8D;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container-tools {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}
.background-img-search {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("../images/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.background-img-cart {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("../images/shopping--cart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.background-img-avatar {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("../images/user--avatar.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.page-headers {
    width: 1280px;
    margin: 0 auto;
}
.text-headline {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 50.4px;
    color: #2A254B;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 24px;
}
.container-filters-sorting {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    padding: 16px 24px;
}
.container-filters {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}
.filters-sorting-items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding-left: 12px;
    padding-right: 12px;
}
.filters-sorting-text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2A254B;
}
select {
    border: none;
}
.sorting-text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #2A254B;
}
.cards {
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 20px;
    margin: 0 auto;
}
.text-card {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #2A254B;   
}
.text-price {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}
.button-view {
    width: 175px;
    height: 56px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 40px;
    background-color: #F9F9F9;
}
.text-button-view {
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2A254B;
}
.container-join {
    width: 1440px;
    height: 521px;
    background-image: url(../images/join-background.jpg);
    background-repeat: no-repeat;
}
.container-text-join {
    padding-top: 71px;
    margin-left: 769px;
}
.text-headline-join {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    line-height: 39.01px;
    text-align: left;
    color: #2A254B;
    margin-bottom: 21px;
}
.text-join {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2A254B;
    margin-bottom: 216px;
}
.button-join {
    width: 120px;
    height: 56px;
    background-color: #2A254B;
    margin-left: 792px;
}
.text-button-join {
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}
.container-footer {
    padding: 60px 80px 0px;
    background-color: #2A254B;
}
.lists-img {
    display: flex;
    margin-bottom: 57px;
}
.lists {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-right: 93px;
}
.list{
    padding-bottom: 12px;
}
.headline-list-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #FFFFFF;
}
.list-text{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    color: #FFFFFF;
}
.container-copyright-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #4E4D93;
    padding-top: 24px;
    padding-bottom: 24px; 
}
.copyright-text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    color: #FFFFFF;
}
.container-social-links {
    width: 261px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-linkedin {
    width: 18px;
    height: 17.92px;
    display: block;
    background-image: url(../images/logo--linkedin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-facebook {
    width: 18px;
    height: 18px;
    display: block;
    background-image: url(../images/logo--facebook.svg);
    background-size: cover;
}
.logo-instagram {
    width: 18px;
    height: 18px;
    display: block;
    background-image: url(../images/logo--instagram.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-skype {
    width: 19.37px;
    height: 19.42px;
    display: block;
    background-image: url(../images/logo--skype.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-twitter {
    width: 16.5px;
    height: 13.41px;
    display: block;
    background-image: url(../images/logo--twitter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-pinterest {
    width: 20.93px;
    height: 21px;
    display: block;
    background-image: url(../images/logo--pinterest.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}