*{
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    width: 1400px;
    height: 88px;
    margin: 0 auto;
    }

.header_menu {
    width: 635px;
    height: 88px;
    list-style: none;
    margin: 0 auto;  
  }

.header_menu_item{
    display: inline-block; 
  }


.header_menu_link{
    display: block;
    color: black;
    height: 24px;
    margin: auto;
    padding: 32px;
    text-decoration: none;    
}


.content_block{
    width: 1400px;
    height: 1472px;
}

.hero_IMG {background-image: url(../images/1.png);
    width: 1400px;
    height: 552px;
    background-position: center;
    background-repeat: no-repeat;
}

.content_div{
    width: 856px;
    height: 615px;
    margin: auto;
}

.tittle {
    width: 856px;
    height: 65px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 64.8px;
    text-align: center;
    margin:auto;
    padding-top: 88px;  
}

 .text_div  {
    padding-top: 110px ;
    width: 856px;
    height: 615px;
    margin: auto;
 }

 .main_text {
     font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.5px;
    text-align: justify;
 }

.text_menu{
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        display: block;
        color: black;
        text-decoration: none;
        padding-top: 40px; 
        
     }

     .text_menu_link{
               font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        display: block;
        color: black;
        text-decoration: none; }
.containerbotton
{
padding-top: 50px;
margin-bottom: 100px;
margin-left: 628px ;
display: block;
position: center;
}   
 .button {      
    background-color:#04959E;
    Width: 145px;
    Height: 44px;
    border: none ;
}


.botton_text {
    color: white;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 24.3px;
text-align: center;
}


.color {
    color:#04959E;
    ;
}
.footerdiv {
    border-top: 11px black;
    width: 1400px;
    height: 59px;
}

   

    
.footer {
    width: 1400px;
    height: 59px;
    line-height: 27px;
    text-justify: auto;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
   
    

}

.horiz { width: 1400px;}
