*{  margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Cabin;
    text-wrap:nowrap
}

header{
    position:fixed;
    width:100%;
    z-index:99;
    top:0
}

header .header{
    background-color:#10bbd5;
    width:100%;
    height:72px;
    padding:16px 52px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center
}

header .header .header-logo{
    cursor:pointer
}
    
header .header .header-tools{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:8px
}
    
header .header .header-tools p{
    color:#f8fdfe;
    font-size:16px;
    font-weight:400
}

    header .header .header-tools .header-tools__card{
    border-style:none;
    background-color:transparent;
    cursor:pointer
}

header .header-aside{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:32px;
    padding:4px 52px;
    font-size:16px;
    background-color:#fff
}

header .header-aside .header-aside-btn ul{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    list-style:none
}

header .header-aside .header-aside-btn ul a{
    text-decoration:none;
    color:#000
}

.book-list-block{
    margin-top:104px;
    background-color:#eeeeef;
    padding-left:52px;
    padding-right:52px;
    padding-bottom:120px;
    padding-top:24px
}

.book-list-block .book-list__title{
    font-size:32px;
    font-weight:600;
    padding-top:32px;
    padding-bottom:23px;
    color:#1f1f1f;
    border-bottom:1px solid #a8a8a8;
    margin-bottom:24px
}

.book-list-block .book-list__items{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-row:auto;
    column-gap:24px;
    row-gap:24px;
    text-overflow:ellipsis
}

.book-list-block .book-list__items .item{
    padding:32px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:16px;
    background-color:#f8fdfe;
    overflow:hidden
}

.book-list-block .book-list__items .item .item__img{
    height:280px;
    position:relative;
    width:100%;
    cursor:pointer
}

.book-list-block .book-list__items .item .item__img .img--wrap{
    display:flex;
    justify-content:center
}

.book-list-block .book-list__items .item .item__img .img--label{
    position:absolute;
    top:0;
    display:flex;
    flex-direction:row;
    gap:4px
}

.book-list-block .book-list__items .item .item__img .img--label .img__hit{
    display:flex;
    justify-content:center;
    align-items:center;
    height:32px;
    padding:4px 8px;
    border-radius:4px;
    font-size:16px;
    font-weight:400;
    color:#f8fdfe;
    background-color:#4200ff
}

.book-list-block .book-list__items .item .item__img .img--label .img__new{display:flex;
    justify-content:center;
    align-items:center;
    height:32px;
    padding:4px 8px;
    border-radius:4px;
    font-size:16px;
    font-weight:400;
    color:#f8fdfe;
    background-color:#af39e7
}

.book-list-block .book-list__items .item .item__img .img--label .img__sale{
    display:flex;
    justify-content:center;
    align-items:center;
    height:32px;
    padding:4px 8px;
    border-radius:4px;
    font-size:16px;
    font-weight:400;
    color:#f8fdfe;
    background-color:#ea33c0
}

.book-list-block .book-list__items .item .item__info{
    width:100%
}

.book-list-block .book-list__items .item .item__info .item__info-name{
    border-bottom:1px solid #a8a8a8;
    color:#1f1f1f;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
    overflow:hidden;
    text-overflow:ellipsis
}
   
 .book-list-block .book-list__items .item .item__info .item__info-autor{
    color:#8e8e8e;
    font-size:16px;
    font-weight:400
}
    
.book-list-block .book-list__items .item .item__info .item__info-cost{
    margin-top:8px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;gap:24px
}
    
.book-list-block .book-list__items .item .item__info .item__info-cost .cost--now{
    color:#e90000;
    font-size:24px;
     font-weight:700
}
        
.book-list-block .book-list__items .item .item__info .item__info-cost .cost--was{
    text-decoration:line-through;
    color:#8e8e8e;
    font-size:24px;
    font-weight:500
 }
        
.book-list-block .book-list__items .item .item__btn{
    width:100%;
    display:block
}

.book-list-block .book-list__items .item .item__btn .btn--add-to{
    background-color:#4c394e
}

.book-list-block .book-list__items .item .item__btn .btn--end-up{
    background-color:#4d762d
}
    
.book-list-block .book-list__items .item .item__btn button{
    display:block;
    padding:8px;
    width:100%;
    color:#f8fdfe;
    font-size:16px;
    font-weight:400;
    border-radius:4px;
    cursor:pointer
}
    
.book-list-block .chat{
    height:64px;
    width:64px;
    position:fixed;
    right:30px;
    bottom:7%;
    cursor:pointer
}

footer{
    background-color:#4c394e;
    height:88px;
    padding:32px 52px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    color:#f8fdfe}