header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.header-top {
  background-color: #10BBD5;


  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 16px;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.16px;
    text-decoration: none;
    color: white;

    &::before {
      content: url('../../images/logo.png');
      margin-right: 4px;
      width: 26px;
      height: 28px;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__value {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
  }

  &__bucket {
    position: relative;
    background-image: url(../../images/cart_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #10BBD5;
    width: 40px;
    height: 40px;
    border: none;
  }

  &__counter {
    position: absolute;
    bottom: 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
  }

}

.header-bottom {
  background-color: white;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 4px;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__list {
    display: flex;
    column-gap: 40px;
    color: black;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}