// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "./helpers/reset.scss";
@import "./helpers/variable.scss";
@import "./helpers/mixins.scss";


html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  background-color: $primary-bg-color;
}

.container{
  max-width: 336px;
  margin: 0 auto;

  @media screen and (min-width: 768px){
    max-width: 740px;
  }

  @media screen and (min-width: 1420px){
  max-width: 1164px;
  }
}

@import "./section/work.scss";

